In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [2]:
unemployment_MH_file = os.path.join("Resource","project_f_data.csv" )
#encoding = "utf-8"
#read in our csv file
unemployment_MH_df = pd.read_csv(unemployment_MH_file, encoding="latin")
#display our dataframe from our csv file
unemployment_MH_df.tail()

,I am currently employed at least part-time,I identify as having a mental illness,Education,I have my own computer separate from a smart phone,I have been hospitalized before for my mental illness,How many days were you hospitalized for your mental illness,I am legally disabled,I have my regular access to the internet,I live with my parents,I have a gap in my resume,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Age,Gender,Household Income,Region,Device Type
329,0,0,High School or GED,1,0,NaN,1,1,0,0,...,0.0,0.0,0.0,0.0,1.0,45-60,Female,Prefer not to answer,Mountain,Android Phone / Tablet
330,1,0,Some Undergraduate,1,0,0.0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,18-29,Male,"$50,000-$74,999",Pacific,Windows Desktop / Laptop
331,1,0,Some Undergraduate,1,0,0.0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,> 60,Female,"$10,000-$24,999",West North Central,Windows Desktop / Laptop
332,0,1,Some Undergraduate,0,1,1.0,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,18-29,Female,"$0-$9,999",West South Central,Android Phone / Tablet
333,1,1,Some Undergraduate,1,0,0.0,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,18-29,Female,"$10,000-$24,999",Pacific,Android Phone / Tablet

In [3]:
#show our columns to reconstruct our data frame
unemployment_MH_df.columns

Index(['I am currently employed at least part-time',
       'I identify as having a mental illness', 'Education',
       'I have my own computer separate from a smart phone',
       'I have been hospitalized before for my mental illness',
       'How many days were you hospitalized for your mental illness',
       'I am legally disabled', 'I have my regular access to the internet',
       'I live with my parents', 'I have a gap in my resume',
       'Total length of any gaps in my resume inÿmonths.',
       'Annual income including any social welfare programs in USD',
       'I am unemployed', 'I read outside of work and school',
       'Annual income from social welfare programs', 'I receive food stamps',
       'I am on section 8 housing',
       'How many times were you hospitalized for your mental illness',
       'Lack of concentration', 'Anxiety', 'Depression', 'Obsessive thinking',
       'Mood swings', 'Panic attacks', 'Compulsive behavior', 'Tiredness',
       'Age', 'Gender', 'Household Income', 'Region', 'Device Type'],
      dtype='object')

In [4]:
# Filter the DataFrame down only to those columns to chart
redone_unemployment_MH_df = unemployment_MH_df[["Education",
                                                "Lack of concentration",
                                                "Anxiety",
                                                "Depression",
                                                "Obsessive thinking",
                                                "Panic attacks",
                                                "Mood swings",
                                                "Compulsive behavior",
                                                "Tiredness"]]
redone_unemployment_MH_df

,Education,Lack of concentration,Anxiety,Depression,Obsessive thinking,Panic attacks,Mood swings,Compulsive behavior,Tiredness
0,High School or GED,1.0,1,1,1.0,1.0,0.0,0.0,0.0
1,Some Phd,1.0,1,1,0.0,1.0,0.0,0.0,1.0
2,Completed Undergraduate,0.0,0,0,0.0,0.0,0.0,0.0,0.0
3,Some Undergraduate,0.0,0,0,0.0,0.0,0.0,0.0,0.0
4,Completed Undergraduate,1.0,1,1,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
329,High School or GED,0.0,0,0,0.0,0.0,0.0,0.0,1.0
330,Some Undergraduate,0.0,0,0,0.0,0.0,0.0,0.0,0.0
331,Some Undergraduate,0.0,0,0,0.0,0.0,0.0,0.0,0.0
332,Some Undergraduate,1.0,1,1,1.0,1.0,1.0,1.0,1.0
333,Some Undergraduate,NaN,1,1,NaN,NaN,NaN,NaN,NaN

In [5]:
#Get a value count of our education
redone_unemployment_MH_df["Education"].value_counts()

Completed Undergraduate    100
Some Undergraduate          82
High School or GED          63
Completed Masters           49
SomeÿMasters                12
Some highschool             10
Completed Phd               10
Some Phd                     8
Name: Education, dtype: int64

In [6]:
#observe our education data in the survey of completed education
observed_education = pd.Series([63, 100, 49, 10 ], index=["High School or GED", "Completed Undergraduate", "Completed Masters", "Completed Phd"])
#create a dataframe of our education data observed
observed_education_df = pd.DataFrame([observed_education]).T
observed_education_df

                           0
High School or GED        63
Completed Undergraduate  100
Completed Masters         49
Completed Phd             10

In [7]:
#rename our observed data column
observed_education_df.columns = ["Count of Completion"]
observed_education_df

                         Count of Completion
High School or GED                        63
Completed Undergraduate                  100
Completed Masters                         49
Completed Phd                             10

In [8]:
#groupby anxiety and completed education to find the % of completion with the illness
education_vs_anxiety_groupby = pd.DataFrame(redone_unemployment_MH_df.groupby(["Education"])["Anxiety"].mean())
education_vs_anxiety_groupby

                          Anxiety
Education
Completed Masters        0.142857
Completed Phd            0.200000
Completed Undergraduate  0.220000
High School or GED       0.396825
Some Phd                 0.125000
Some Undergraduate       0.414634
Some highschool          0.500000
SomeÿMasters             0.333333

In [9]:
#groupby obessive thinking and completed education to find the % of completion with the illness
education_vs_obs_thinking_groupby = pd.DataFrame(redone_unemployment_MH_df.groupby(["Education"])["Obsessive thinking"].mean())
education_vs_obs_thinking_groupby

                         Obsessive thinking
Education
Completed Masters                  0.040816
Completed Phd                      0.000000
Completed Undergraduate            0.080000
High School or GED                 0.126984
Some Phd                           0.000000
Some Undergraduate                 0.259259
Some highschool                    0.100000
SomeÿMasters                       0.166667

In [10]:
#groupby Depression and completed education to find the % of completion with the illness
education_vs_depression_groupby = pd.DataFrame(redone_unemployment_MH_df.groupby(["Education"])["Depression"].mean())
education_vs_depression_groupby

                         Depression
Education
Completed Masters          0.163265
Completed Phd              0.300000
Completed Undergraduate    0.230000
High School or GED         0.269841
Some Phd                   0.125000
Some Undergraduate         0.378049
Some highschool            0.100000
SomeÿMasters               0.166667

In [11]:
#groupby Lack of concentration and completed education to find the % of completion with the illness
education_vs_lack_of_concentration_groupby = pd.DataFrame(redone_unemployment_MH_df.groupby(["Education"])["Lack of concentration"].mean())
education_vs_lack_of_concentration_groupby

                         Lack of concentration
Education
Completed Masters                     0.061224
Completed Phd                         0.300000
Completed Undergraduate               0.160000
High School or GED                    0.142857
Some Phd                              0.250000
Some Undergraduate                    0.222222
Some highschool                       0.000000
SomeÿMasters                          0.000000

In [12]:
#groupby Mood swings and completed education to find the % of completion with the illness
education_vs_moodswings_groupby = pd.DataFrame(redone_unemployment_MH_df.groupby(["Education"])["Mood swings"].mean())
education_vs_moodswings_groupby

                         Mood swings
Education
Completed Masters           0.020408
Completed Phd               0.000000
Completed Undergraduate     0.090000
High School or GED          0.174603
Some Phd                    0.000000
Some Undergraduate          0.160494
Some highschool             0.300000
SomeÿMasters                0.083333

In [13]:
#groupby Tiredness and completed education to find the % of completion with the illness
education_vs_tiredness_groupby = pd.DataFrame(redone_unemployment_MH_df.groupby(["Education"])["Tiredness"].mean())
education_vs_tiredness_groupby

                         Tiredness
Education
Completed Masters         0.204082
Completed Phd             0.400000
Completed Undergraduate   0.290000
High School or GED        0.253968
Some Phd                  0.375000
Some Undergraduate        0.358025
Some highschool           0.400000
SomeÿMasters              0.416667

In [14]:
#merging our count of completion with our anxiety % with completion
merged_count_anxiety_df = pd.concat([observed_education_df, education_vs_anxiety_groupby], axis=1)
merged_count_anxiety_df

                         Count of Completion   Anxiety
High School or GED                      63.0  0.396825
Completed Undergraduate                100.0  0.220000
Completed Masters                       49.0  0.142857
Completed Phd                           10.0  0.200000
Some Phd                                 NaN  0.125000
Some Undergraduate                       NaN  0.414634
Some highschool                          NaN  0.500000
SomeÿMasters                             NaN  0.333333

In [15]:
#merging our dataframe above with our obsessive thinking % with completion
merged_df_2 = pd.concat([merged_count_anxiety_df, education_vs_obs_thinking_groupby], axis=1)
merged_df_2

                         Count of Completion   Anxiety  Obsessive thinking
High School or GED                      63.0  0.396825            0.126984
Completed Undergraduate                100.0  0.220000            0.080000
Completed Masters                       49.0  0.142857            0.040816
Completed Phd                           10.0  0.200000            0.000000
Some Phd                                 NaN  0.125000            0.000000
Some Undergraduate                       NaN  0.414634            0.259259
Some highschool                          NaN  0.500000            0.100000
SomeÿMasters                             NaN  0.333333            0.166667

In [16]:
#merging our dataframe above with our Depression % with completion
merged_df_3 = pd.concat([merged_df_2, education_vs_depression_groupby], axis=1)
merged_df_3

,Count of Completion,Anxiety,Obsessive thinking,Depression
High School or GED,63.0,0.396825,0.126984,0.269841
Completed Undergraduate,100.0,0.220000,0.080000,0.230000
Completed Masters,49.0,0.142857,0.040816,0.163265
Completed Phd,10.0,0.200000,0.000000,0.300000
Some Phd,NaN,0.125000,0.000000,0.125000
Some Undergraduate,NaN,0.414634,0.259259,0.378049
Some highschool,NaN,0.500000,0.100000,0.100000
SomeÿMasters,NaN,0.333333,0.166667,0.166667

In [17]:
#merging our dataframe above with our Lack of concentration % with completion
merged_df_4 = pd.concat([merged_df_3, education_vs_lack_of_concentration_groupby], axis=1)
merged_df_4

,Count of Completion,Anxiety,Obsessive thinking,Depression,Lack of concentration
High School or GED,63.0,0.396825,0.126984,0.269841,0.142857
Completed Undergraduate,100.0,0.220000,0.080000,0.230000,0.160000
Completed Masters,49.0,0.142857,0.040816,0.163265,0.061224
Completed Phd,10.0,0.200000,0.000000,0.300000,0.300000
Some Phd,NaN,0.125000,0.000000,0.125000,0.250000
Some Undergraduate,NaN,0.414634,0.259259,0.378049,0.222222
Some highschool,NaN,0.500000,0.100000,0.100000,0.000000
SomeÿMasters,NaN,0.333333,0.166667,0.166667,0.000000

In [18]:
#merging our dataframe above with our Mood swings % with completion
merged_df_5 = pd.concat([merged_df_4, education_vs_moodswings_groupby], axis=1)
merged_df_5

,Count of Completion,Anxiety,Obsessive thinking,Depression,Lack of concentration,Mood swings
High School or GED,63.0,0.396825,0.126984,0.269841,0.142857,0.174603
Completed Undergraduate,100.0,0.220000,0.080000,0.230000,0.160000,0.090000
Completed Masters,49.0,0.142857,0.040816,0.163265,0.061224,0.020408
Completed Phd,10.0,0.200000,0.000000,0.300000,0.300000,0.000000
Some Phd,NaN,0.125000,0.000000,0.125000,0.250000,0.000000
Some Undergraduate,NaN,0.414634,0.259259,0.378049,0.222222,0.160494
Some highschool,NaN,0.500000,0.100000,0.100000,0.000000,0.300000
SomeÿMasters,NaN,0.333333,0.166667,0.166667,0.000000,0.083333

In [19]:
#merging our dataframe above with our tiredness % with completion
final_MH_completion_df = pd.concat([merged_df_5, education_vs_tiredness_groupby], axis=1)
final_MH_completion_df

,Count of Completion,Anxiety,Obsessive thinking,Depression,Lack of concentration,Mood swings,Tiredness
High School or GED,63.0,0.396825,0.126984,0.269841,0.142857,0.174603,0.253968
Completed Undergraduate,100.0,0.220000,0.080000,0.230000,0.160000,0.090000,0.290000
Completed Masters,49.0,0.142857,0.040816,0.163265,0.061224,0.020408,0.204082
Completed Phd,10.0,0.200000,0.000000,0.300000,0.300000,0.000000,0.400000
Some Phd,NaN,0.125000,0.000000,0.125000,0.250000,0.000000,0.375000
Some Undergraduate,NaN,0.414634,0.259259,0.378049,0.222222,0.160494,0.358025
Some highschool,NaN,0.500000,0.100000,0.100000,0.000000,0.300000,0.400000
SomeÿMasters,NaN,0.333333,0.166667,0.166667,0.000000,0.083333,0.416667

In [27]:
dropped_final_df = final_MH_completion_df.drop(
                            labels=["Some Phd", "Some Undergraduate", "Some highschool", "SomeÿMasters"],
                            axis=0,
                            inplace=False)
dropped_final_df

,Count of Completion,Anxiety,Obsessive thinking,Depression,Lack of concentration,Mood swings,Tiredness
High School or GED,63.0,0.396825,0.126984,0.269841,0.142857,0.174603,0.253968
Completed Undergraduate,100.0,0.220000,0.080000,0.230000,0.160000,0.090000,0.290000
Completed Masters,49.0,0.142857,0.040816,0.163265,0.061224,0.020408,0.204082
Completed Phd,10.0,0.200000,0.000000,0.300000,0.300000,0.000000,0.400000